*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}


body {
background-color: #2B807B;
    height: 100vh;
    text-align: center;
}
.centrarFlex{
    display: flex;
    align-items: center;
    justify-content: center;

}


#cajaBoton {
    border: 5px rgb(0, 0, 0) solid;
    width: 450px;
    height: 220px;
    background-color: white;
    flex-wrap: wrap;
    flex-direction: column;
}
#nombreColores {
    font-weight: bold;
    font-size: 65px;
}

button{
font-size: 30px;
color:white;
border-radius: 20px;
background-color: #00CBA8;
margin: 15px;
padding: 10px 30px;
border: 3px solid #00cba8;
user-select: none;
cursor: pointer;
transition-duration: 0.5s;

}

button:hover{
    background-color: #059d83;
}